<h1>Hey what's up</h1>
<h1>This is a dominant job search site</h1>


<h2>Sign in</h2>

<form class='' action='user_session_path' method='POST'>
	<label for="email">Email</label><input type="text" name="email" value="" id="" placeholder='Email Address' autofocus>
	<label for="password">Password</label><input type="password" name="password" value="" id="" placeholder='password' autocomplete='off'>
	<input type='submit' class='btn btn-primary' value='Sign in'></input>
</form>

