<div id='home-bg-off'>
  <div class='row'>
    <div class='col-md-offset-2 col-md-8'>
      <div class='text-center'>
        <br><br><br>
        <p class='title-text'>Welcome to Jobhunter</p>
        <p class='subtitle-text'>Searching for a job is better together.</p>  
        <br>
        <a class='btn btn-lg btn-success' href='/user/applications'>Get Started.</a>
        <br><br><br><br>
      </div>
    </div>
  </div>
</div>