<form action="<%= job_path(id: job.id) %>" method="PUT">
  <div class="form-group">
    <%= collection_select :job, :job_category_id, JobCategory.all, :id, :id, class: "form-control", prompt: "Select category", selected: job.job_category_id  %>
    <input type="submit" class="invisible">
  </div>
</form>