<tr>
  <td><%= link_to job.title, job.url || "#" %></td>
  <td><%= Company.find(job.company_id).name %></td>
  <td><%= JobCategory.names[job.job_category_id.to_i] %></td>
  <td><%= "$#{number_with_delimiter(job.salary_bottom)} - #{number_with_delimiter(job.salary_top)}" %></td>
</tr>