<h1>Jobs#index</h1>

<section id="jobs-table">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Job Title</th>
            <th>Company</th>
            <th>Category</th>
            <th>Salary</th>
          </thead>
          <tbody>
            <%= render @jobs %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>