<section id="header">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h1 class="pull-left">All the Jobs</h1>
      <div class="pull-right">
        <%= render partial: "filter_button", 
                   locals: { categories: JobCategory.all } %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>

<section id="jobs-table">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <th>Job Title</th>
            <th>Company</th>
            <th>Category</th>
            <th>Salary</th>
          </thead>
          <tbody>
            <%= render @jobs %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>