---
http_interactions:
- request:
    method: get
    uri: https://api.angel.co/1/jobs?access_token=ada8bbc6fad3d6ef2743999c3d9f194adcfca963dd7beab3&per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"51573a793a94ecbe33eba38029112936"'
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '2000'
      X-Ratelimit-Remaining:
      - '1999'
    body:
      encoding: US-ASCII
      string: ! '{"jobs":[{"id":62339,"title":"Weekend Happiness Concierge","description":"Customer
        happiness at Crew is 7 days a week. We have members in 32 countries and we
        have a goal of replying to all emails within an hour. We''re not quite there
        yet but we''re working ''round the clock to get there.\n\nEvery interaction
        we have with our customers, whether it comes from our product or one of our
        customers, is should feel like a ''wow moment.''\n\nThis is why we think our
        Happiness Team is so important.\n\nAlthough we don''t work se[...]
