---
http_interactions:
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=1&jt=fulltime&l=san%20francisco&limit=50&publisher=3508158328996054&q=software&sort=date&useragent=Mozilla//4.0(Firefox)&userip=162.246.145.234&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n\n {\n\n    \"version\" : 2,\n    \"query\" : \"software\",\n    \"location\"
        : \"san francisco\",\n    \n    \"dupefilter\" : true,\n     \n    \"highlight\"
        : true,\n    \n    \"radius\" : 25,\n    \n    \"start\" : 1,\n    \"end\"
        : 25,\n    \"totalResults\" : 866,\n     \n    \"pageNumber\" : 0,\n    \n\n
        \   \"results\" : [\n        \n                {\n                    \"jobtitle\"
        : \"Junior Full Stack Developer\",\n                    \"company\" : \"Webpass\",\n
        \                   \"city\" : \"San Francisco\",\n                    \"state\"
        : \"CA\",\n                    \"country\" : \"US\",\n                    \"formattedLocation\"
        : \"San Francisco, CA\",\n                    \"source\" : \"Webpass\",\n
        \                   \"date\" : \"Fri, 12 Jun 2015 01:39:14 GMT\",\n                    \"snippet\"
        : \"As an ISP , Webpass offers a diverse set of technical challenges from
        building tools that maintain our high speed network to complex cloud-based
        enterprise...\",\n                    \"url\" : \"http://www.indeed.com/viewjob?jk=12e54ef16a913aae&qd=KLpU4Yxto_kBBDodkIOFyH86hmYttwJRJ0byCbCDa6ZeuLusn79qdvsdvu3Ks9OQtbIvzMfsayb9geCciAmNoUjLXZDqggG4R1vytVCIN_j6mFUmZRfkXG13lk3nvbrN&indpubnum=3508158328996054&atk=19nivf90eb9pc9i8\",\n
        \                   \"onmousedown\" : \"indeed_clk(this, '1329');\",\n                    \"jobkey\"
        : \"12e54ef16a913aae\",\n                    \"sponsored\" : false,\n                    \"expired\"
        : false,\n                    \"indeedApply\" : true,\n                    \"formattedLocationFull\"
        : \"San Francisco, CA\",\n                    \"formattedRelativeTime\" :
        \"2 hours ago\"                \n}\n,\n                {\n                    \"jobtitle\"
        : \"Web Developer\",\n                    \"company\" : \"ViewFind\",\n                    \"city\"
        : \"San Francisco Bay Area\",\n                    \"state\" : \"CA\",\n                    \"country\"
        : \"US\",\n                    \"formattedLocation\" : \"San Francisco Bay
        Area, CA\",\n                    \"source\" : \"Indeed\",\n                    \"date\"
 [...]
