<%= form_for(application, 
      url: job_application_path(
        id: application.id, 
        job_id: application.job_id), 
      method: "PUT", 
      html: { id: "application-#{application.id}-status" }
      ) do |f| %>

  <div class="form-group">
    <%= f.collection_select :status, 
          statuses,
          :to_s,
          :to_s,
          {},
          { class: "form-control no-input-box no-focus",
            onchange: "$('#application-#{application.id}-status').submit();"} %>
  </div>
  
<% end %>