<%= form_for(application, url: job_application_path(id: application.id, job_id: application.job_id)) do |f| %>

  <div class="form-group">
    <%= fields_for application, :status do |builder| %>
      <%= builder.text_field :status, class: "form-control no-input-box", maxlength: 50 %>
    <% end %>
  </div>
  
  <%= submit_tag "Update", class: "invisible" %>
  
<% end %>