<section id="header">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h1 class="pull-left">My Apps</h1>
      <div class="pull-right">
        <%= render partial: "filter_button", 
                   locals: { categories: JobCategory.all } %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>
  
<section id="new-application-form">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <%= render "form" %>
    </div>
  </div>
</section>

<section id="job-applications-table">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Company</th>
            <th>Job Title</th>
            <th>Applied</th>
            <th>Status</th>
            <th>Notes</th>
          </thead>
          <tbody>
            <%= render partial: "job_application", 
                collection: @job_applications,
                as: :application %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>