<% if notice || flash[:success] %>
<div class="alert alert-success">
  <p><%= notice || flash[:success] %></p>
</div>
<% end %>

<% if alert || flash[:error] %>
<div class="alert alert-danger">
  <p><%= alert || flash[:error] %></p>
</div>

<% end %>