<nav class='navbar navbar-inverse navbar-static-top'>
	<div class='container'>
		<div class='navbar-header'>
			<ul class='nav navbar-nav'>
        <%= link_to 'My Apps', '#' %>
        <%= link_to 'New Application', new_job_application_path %>
				<%= render 'devise/shared/login_links' %>
				<%= render 'devise/shared/registration_links' %>
			</ul>
		</div>
	</div>
</nav>  