<h1>These are all the companies</h1>

<section id="companies-table">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="table-responsive">
        <table class="table table-responsive">
          <thead>
            <th>Company Name</th>
            <th>Description</th>
          </thead>
          <tbody>
            <%= render partial: "company", collection: @companies %>
          </tbody>
        </table>
      </div>
    </div>
  </div>