<section id="header">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h1 class="pull-left">These are all the companies</h1>
      <div class="pull-right">
        <!-- Not yet implemented -->
        <%#= render partial: "filter_button", 
                   locals: { categories: JobCategory.all } %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>

<section id="companies-table">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <th>Company Name</th>
            <th>Description</th>
            <th>Jobs</th>
          </thead>
          <tbody>
            <%= render partial: "company", collection: @companies %>
          </tbody>
        </table>
      </div>
    </div>
  </div>