---
http_interactions:
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=1&jt=fulltime&l=san%20francisco&limit=50&publisher=3508158328996054&q=software&sort=date&useragent=Mozilla//4.0(Firefox)&userip=162.246.145.234&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n {\n\n    \"version\" :
        2,\n    \"query\" : \"software\",\n    \"location\" : \"san francisco\",\n
        \   \n    \"dupefilter\" : true,\n     \n    \"highlight\" : true,\n    \n
        \   \"radius\" : 25,\n    \n    \n    \"start\" : 1,\n    \"end\" : 25,\n
        \   \"totalResults\" : 229,\n     \n    \"pageNumber\" : 0,\n    \n    \n
        \   \n    \n    \n\n     \n\n    \n\n    \n\n    \"results\" : [\n        \n
        \           \n                {\n                    \"jobtitle\" : \"Sales
        Operations Manager\",\n                    \"company\" : \"MemSQL\",\n                    \"city\"
        : \"San Francisco\",\n                    \"state\" : \"CA\",\n                    \"country\"
        : \"US\",\n                    \"formattedLocation\" : \"San Francisco, CA\",\n
        \                   \"source\" : \"memsql\",\n                    \"date\"
        : \"Sun, 19 Apr 2015 22:49:12 GMT\",\n                    \"snippet\" : \"SQL
        is a Y-Combinator, SF-based startup that is leading the next wave of big data.
        SQL's real-time database is the fastest performing and most scalable database...\",\n
        \                   \"url\" : \"http://www.indeed.com/viewjob?jk=573e43aca08e3f1f&qd=KLpU4Yxto_kBBDodkIOFyH86hmYttwJRJ0byCbCDa6ZeuLusn79qdvsdvu3Ks9OQ1NyfkenOdcGN0V4BZBKpr4Tj1Lj9k4VLZEtguqkIAEO_3UfPaSwm_cyPqR37cNby&indpubnum=3508158328996054&atk=19j9vifus1d69716\",\n
        \                   \"onmousedown\" : \"indeed_clk(this, '9579');\",\n                    \"jobkey\"
        : \"573e43aca08e3f1f\",\n                    \"sponsored\" : false,\n                    \"expired\"
        : false,\n                    \"indeedApply\" : true,\n                    \"formattedLocationFull\"
        : \"San Francisco, CA\",\n                    \"formattedRelativeTime\" :
        \"28 minutes ago\"                \n}\n\n            ,\n        \n            \n
        \               {\n                    \"jobtitle\" : \"SECURITY OFFICER\",\n
        \                   \"company\" : \"CPS Security Solutions\",\n                    \"city\"
        : \"Hayward\",\n                    \"state\" : \"CA\",\n                    \"country\"
        : \"US\",\n                    \"formattedLocation\" : \"Hayward, CA\",\n
        \                   \"source\" : \"CP[...]
