---
http_interactions:
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=1&jt=fulltime&l=san%20francisco&limit=50&publisher=3508158328996054&q=marketing&sort=date&useragent=Mozilla//4.0(Firefox)&userip=162.246.145.234&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n\n {\n\n    \"version\" : 2,\n    \"query\" : \"marketing\",\n    \"location\"
        : \"san francisco\",\n    \n    \"dupefilter\" : true,\n     \n    \"highlight\"
        : true,\n    \n    \"radius\" : 25,\n    \n    \"start\" : 1,\n    \"end\"
        : 25,\n    \"totalResults\" : 560,\n     \n    \"pageNumber\" : 0,\n    \n\n
        \   \"results\" : [\n        \n                {\n                    \"jobtitle\"
        : \"Specialist III, Marketing\",\n                    \"company\" : \"AECOM\",\n
        \                   \"city\" : \"San Francisco\",\n                    \"state\"
        : \"CA\",\n                    \"country\" : \"US\",\n                    \"formattedLocation\"
        : \"San Francisco, CA\",\n                    \"source\" : \"AECOM\",\n                    \"date\"
        : \"Fri, 12 Jun 2015 00:14:12 GMT\",\n                    \"snippet\" : \"Knowledge
        of Adobe Creative Suite 6. Undertakes special projects as assigned. Strong
        organizational aptitude and detail orientation....\",\n                    \"url\"
        : \"http://www.indeed.com/viewjob?jk=36b4f0c9775bc33f&qd=KLpU4Yxto_kBBDodkIOFyLgFqSxNhrhHPA5F-zP2zCpda7v3S6IeP28-_G1UiUwdmb-22dpldowW5mW3cDtkmdSNIgTrha3xumkgUSOlzFTYhMhpP382Z-TUsDivS0mc&indpubnum=3508158328996054&atk=19nivcbamb92gdtc\",\n
        \                   \"onmousedown\" : \"indeed_clk(this, '5366');\",\n                    \"jobkey\"
        : \"36b4f0c9775bc33f\",\n                    \"sponsored\" : false,\n                    \"expired\"
        : false,\n                    \"indeedApply\" : false,\n                    \"formattedLocationFull\"
        : \"San Francisco, CA\",\n                    \"formattedRelativeTime\" :
        \"3 hours ago\"                \n}\n,\n                {\n                    \"jobtitle\"
        : \"Event Coordinator\",\n                    \"company\" : \"Center for Sustainable
        Energy\",\n                    \"city\" : \"Oakland\",\n                    \"state\"
        : \"CA\",\n                    \"country\" : \"US\",\n                    \"formattedLocation\"
        : \"Oakland, CA\",\n                    \"source\" : \"Center for Sustainable
        Energy\",\n    [...]
