---
http_interactions:
- request:
    method: get
    uri: http://api.indeed.com/ads/apisearch?format=json&fromage=1&jt=fulltime&l=san%20francisco&limit=50&publisher=3508158328996054&q=nursing&sort=date&useragent=Mozilla//4.0(Firefox)&userip=162.246.145.234&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript;charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n\n {\n\n    \"version\" : 2,\n    \"query\" : \"nursing\",\n    \"location\"
        : \"san francisco\",\n    \n    \"dupefilter\" : true,\n     \n    \"highlight\"
        : true,\n    \n    \"radius\" : 25,\n    \n    \"start\" : 1,\n    \"end\"
        : 25,\n    \"totalResults\" : 202,\n     \n    \"pageNumber\" : 0,\n    \n\n
        \   \"results\" : [\n        \n                {\n                    \"jobtitle\"
        : \"Practice Analyst Supervisor - SOM Otolaryngology (ANL 2)\",\n                    \"company\"
        : \"University of California San Francisco Medical Center\",\n                    \"city\"
        : \"San Francisco\",\n                    \"state\" : \"CA\",\n                    \"country\"
        : \"US\",\n                    \"formattedLocation\" : \"San Francisco, CA\",\n
        \                   \"source\" : \"University of California San Francisco
        Medical Center\",\n                    \"date\" : \"Fri, 12 Jun 2015 00:47:29
        GMT\",\n                    \"snippet\" : \"Picks up and disposes of any litter
        found throughout entire facility. As a subject-matter expert in patient scheduling
        and the electronic medical record, the...\",\n                    \"url\"
        : \"http://www.indeed.com/viewjob?jk=aa9485b1090b3047&qd=KLpU4Yxto_kBBDodkIOFyKN_58VnZvC2ocll93GJPI8UZlU9HlW5U87qcrD-iQxXI9SJPhsni49A3gie611BrHbl59h3we25JSxucCavnKhZHF_ahsHyJ1DFqwrgbqGf&indpubnum=3508158328996054&atk=19nivcbn9b02gdda\",\n
        \                   \"onmousedown\" : \"indeed_clk(this, '5795');\",\n                    \"jobkey\"
        : \"aa9485b1090b3047\",\n                    \"sponsored\" : false,\n                    \"expired\"
        : false,\n                    \"indeedApply\" : false,\n                    \"formattedLocationFull\"
        : \"San Francisco, CA\",\n                    \"formattedRelativeTime\" :
        \"3 hours ago\"                \n}\n,\n                {\n                    \"jobtitle\"
        : \"Quality Nurse Consultant I\",\n                    \"company\" : \"Kaiser
        Permanente\",\n                    \"city\" : \"Oakland\",\n                    \"state\"
        : \"CA\",\n                    \"country\" : \"US\",\n                    \"formattedLocation\"
        : \"Oakland, CA\",\n                    \"source\" : \"Kaiser Permanente\",\n
        \                 [...]
