/*
 *= require_tree .
 *= require_self
 */

//@import 'bootstrap-sprockets';
@import 'bootstrap';

#home-bg {
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#copyright {
  position: absolute;
  bottom: 0;
}

/********************** Reusable Classes  ****************************/
.no-input-box {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
  
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  
  background: inherit;
}

.no-focus {
  &:focus{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
}

.title-text {
  font-size: 5em;
  text-transform: uppercase;
  text-shadow: none;
}

.subtitle-text {
  font-size: 1.5em;
}

.box-height-1000 {
  height: 1000px;
}

.position-relative {
  position: relative;
}
